.section2 {
    height: 891px;
    display: flex;
    align-items: center;
}

.section2-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.section2 button {
    background: #F5F5F5;
    border: 2px solid #E9E743;
    border-radius: 33px;
    width: 251px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    justify-content: center;
}

.button-section2 {
    display: flex;
    justify-content: center;
}

.button-section2 button:hover {
    background: #E9E743;
}

.section2-wrapper {
    display: grid;
    grid-gap: 65px;
}