.section-four {
    height: 858px;
}

.section-four-middle-block h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.section-four-middle-block div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.section-four-middle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four-middle-text {
    display: grid;
    row-gap: 25px;
}

.section-four-block h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    text-transform: capitalize;
    color: #000000;
}

.section-four-block h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.section-four-block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.section-four-block {
    width: 406px;
    display: grid;
    grid-row-gap: 22px;
}

.section-four-block h4 {
    margin-bottom: 39px;
}

.section-four-block-wrapper {
    display: flex;
    justify-content: space-between;
}