section.footer 
    div.container
        div.footer-wrapper 
            div.footer-left-block
                h3 Contact us
                div.footer-description-block 
                    p.row-footer-one If It Is Something About Cars, Let's Talk
                    p.row-footer-two Metre Per Second - Car Service & Car Repair 3rd Floor, T-Hub Building, IIIT Campus, Gachibowli, Hyderaad
            div.footer-right-block
                div.footer-right-wrapper
                    div.contacts-footer
                        p 832-862-0888
                        p support@metrepersecond.com
                    div.social-networks-footer
                        div.facebook-circle
                        div.insta-circle
                        div.youtube-circle
                        div.whatsapp-circle
                        div.in-circle        

