body
header 
    div.container
        div.navigation-block
            div.left-block-header
                div.logo
                    img(src="../images/logo.png", alt="logo")
            div.right-block-header
                nav.navigation
                    div Home 
                    div Services 
                    div Cart
                    button LOGIN
    
                                     
