section.section2-block
    div.container
        div.section2-wrapper
            div.section2-text
                h1 Car repair at your door step
            div.button-section2 
                button Select A Car
            div.section2-block-picture
                img(src="../images/Asset21.png", alt="asset21")       