section.bottom-navigation
        div.container
            div.navigation-bottom  
                div.left-block-bottom-navigation
                    button Select A Car
                div.right-block-bottom-navigation
                    div.right-block-contacts-bottom-navigation
                        img(src="../images/logos_whatsapp.png", alt="whatsapp")    
                        img(src="../images/whh_circlecalloutgoing.png", alt="phone")