section.section-six 
    blockdivdiv.container 
        div.section-six-block
            div.section-six-title
                h1 Our services
            div.services-block-main
                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 7.png")
                        div 01
                    div.services-block-bottom
                        div.services-block-bottom-wrapper-two
                            h2 General Service
                            div.services-button-block   
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 23.png")
                        div 02
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Denting and Painting
                            div.services-button-block    
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 24.png")
                        div 03
                    div.services-block-bottom
                        div.services-block-bottom-wrapper-two
                            h2 Car Inspection
                            div.services-button-block
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 25.png")
                        div 04
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Battery replacement
                            div.services-button-block 
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 30.png")
                        div 05
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 AC service & repair
                            div.services-button-block 
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 31.png")
                        div 06
                    div.services-block-bottom
                        h2 Car fitments
                        button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic-car
                            img(src="../images/image 32.png")
                        div 07
                    div.services-block-bottom-seven
                        div.services-block-bottom-wrapper
                            h2 Car Detailing Services
                            div.services-button-block 
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 33.png")
                        div 08
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Car major repairs
                            div.services-button-block 
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 44.png")
                        div 09
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Windshield & Lights
                            div.services-button-block 
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 45.png")
                        div 10
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Suspeension Repairs
                            div.services-button-block
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 46.png")
                        div 11
                    div.services-block-bottom
                        div.services-block-bottom-wrapper-two
                            h2 Clutch Repairs
                            div.services-button-block
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 47.png")
                        div 12
                    div.services-block-bottom
                        div.services-block-bottom-wrapper-two
                            h2 Tires & Wheels
                            div.services-button-block
                                button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 48.png")
                        div 13
                    div.services-block-bottom
                        h2 Brake Repairs
                        button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 49.png")
                        div 14
                    div.services-block-bottom
                        h2 Car Services
                        button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 43.png")
                        div 15
                    div.services-block-bottom
                        h2 Membership
                        button Enquire Us

                div.services-block
                    div.top-services-block    
                        div.top-services-pic
                            img(src="../images/image 41.png")
                        div 16
                    div.services-block-bottom
                        div.services-block-bottom-wrapper
                            h2 Insurence Claims
                            div.services-button-block
                                button Enquire Us               
                                                                         
                                                                       