section.section-nine 
    div.container
        div.section-nine-wrapper 
            div.section-nine-title 4 Step Process
            div.section-nine-main-block 
                div.section-nine-left-block
                    div.section-nine-first-row 
                        div.section-nine-first-block
                            div.section-nine-first-block-title 01
                            div.section-nine-first-block-discription Select your car from our wide range of car make catalogue

                        div.section-nine-first-block
                            div.section-nine-second-block-title 02
                            div.section-nine-second-block-discription Pick your preferred service for car, at affordable prices.
                    div.section-nine-second-row
                        div.section-nine-first-block
                            div.section-nine-third-block-title 03
                            div.section-nine-third-block-discription Select where you want your car to get repaired

                        div.section-nine-first-block
                            div.section-nine-fourth-block-title 04
                            div.section-nine-fourth-block-discription Go cash less by pay paying online and submit your feedback.    
                div.section-nine-right-block
                    div.section-nine-input-block
                        h2.section-nine-input-title Metre Per Second
                        p Car Repair at your Doorstep
                        div.input-search
                            input(type="text")
                        div.button-section-nine    
                            button.section-nine-button Go to services
            div.section-nine-second-button           
                button.section-nine-bottom-button Back to top        
       
        
                    