section.section5
    div.container
        div.section5-wrapper
            div.section5-block-title
                h2 Company’s overview car services
            div.section5-main-block   
                div.section5-block
                    div.section5-block-name  Car Repairs
                div.section5-block
                    div.section5-block-name  Car Inspection
                div.section5-block
                    div.section5-block-name  Car Denting & Painting
                div.section5-block
                    div.section5-block-name  Car Major Repairs
                div.section5-block
                    div.section5-block-name  Car Custom Repairs
                div.section5-block
                    div.section5-block-name  Car AC Service                   
              
                 
