section.section-eight
    div.section-eight-title What we have achieved till date
    div.section-eight-main-block
        div.section-eight-left-block   
            img(src="../images/Rectangle 60.png", alt="section8")
        div.section-eight-right-block
            div.section-eight-right-block-title Metre Per Secod is a 5 year old India's Premium and Best Rated Car Maintenance Startup. A glimpse of what we have achieved is as follows
                   
            div.section-eight-block-row
                div.section-eight-first-row-background
                div.spans-block
                    span.span-one 150K+
                    span.span-two Car’s get Serviced

            div.section-eight-block-row
                div.section-eight-second-row-background
                div.spans-block
                    span.span-three 4.8  
                    span.span-four Rated

            div.section-eight-block-row
                div.section-eight-third-row-background
                div.spans-block
                    span.span-one 100K+
                    span.span-two Happy Customers  
    