section.section-two
    div.container
        div.section-two-wrapper
            div.section-two-text
                h1 Car repair at your door step
            div.button-section-two 
                button Select A Car
            div.section2-block-picture
                img(src="../images/Asset21.png", alt="asset21")       