section.block-patners
    div.container
        div.section3-wrapper
            h2.text-partners Our partners
            div.partners-pics
                img(src="../images/image 1.png", alt="brp4u")
                img(src="../images/image 2.png", alt="uber")
                img(src="../images/image 3.png", alt="ola")
                img(src="../images/image 4.png", alt="pitstop")
                img(src="../images/image 5.png", alt="allianz")
                img(src="../images/image 6.png", alt="urban company")
                
                



