section.section-seven 
    div.container
        div.section-seven-main-block 
            div.section-seven-title
                h4 Our Trademark
            div.section-seven-blocks-wrapper
                div.section-seven-block-one    
                    div.section-seven-bottom-block
                        div.section-seven-picture-block-one
                            div.background-one
                    h2.background-one-title 90 Min Car Service
                    p.background-one-text Experience Quick Service which completes in just 90 Minutes, which will help you save your precious time and efforts of visiting Workshops to get your Car Serviced.
                div.section-seven-block-two
                    div.section-seven-bottom-block
                        div.section-seven-picture-block-one
                            div.background-two
                    h2.background-one-title In-house Technicians
                    p.background-one-text Metre Per Second recruits Best in class German Car Technicians with a Minimum of 8+ years of Experience and Train them. After enabling them with Garage Nation's standards they are assigned for Services/repairs
                div.section-seven-block-three  
                    div.section-seven-bottom-block
                        div.section-seven-picture-block-one
                            div.background-three
                    h2.background-one-title Savings up to 40%
                    p.background-one-text Metre Per Second provides 100% Transparent Service which means all Parts are opened right in front of you while performing service and no more surprised or extra spares or costs
