section.section-four 
    div.container   
        div.section-four-wrapperfooter-right-block
            div.section-four-middle-block
                div.wind1
                    img(src="../images/Wind-left.png", alt="left-wind")
                div.section-four-middle-text    
                        h3 About Us 
                        div At meter per second, we take pride in our values
                        div - Service,integrity and excellece.
                div.wind2
                    img(src="../images/Wind-right.png", alt="right-wind")
            div.section-four-middle-bottom-block
                div.section-four-block-wrapper
                    div.section-four-block
                        h4 1.
                        h5 Who we are?
                        p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad        
                    div.section-four-block
                        h4 2.
                        h5 What is the problem?
                        p Car owners often lack visibility regarding the quality of Mechanics, usage of Spare parts and Transparency in price.
                    div.section-four-block 
                        h4 3.
                        h5 How do we help?
                        p Now, Metre Per Second is a Premier Doorstep Car Care Company providing Car Service with Professional Technicians right at your location in Hyderabad.

            