include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    include pug/_header
    include pug/_section1
    include pug/_section2
    include pug/_section3
    include pug/_section4
    include pug/_section5
    include pug/_section6
    main
